<app-menu></app-menu>
<section>
    <div class="container-fluid">

        <form (ngSubmit)="actualizar()" [formGroup]="Formulario">

            <div class="mb-10 ms-3 mt-2 row flex w-full text-center text-xl font-semibold">
                <h3>Editar tarea</h3>
            </div>

            <div class="mb-3 ms-3 mt-2 row">
                <label class="col-sm-3 col-form-label">Título</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="titulo" placeholder="Titulo de la actividad">
                    <span class="form-text text-danger" *ngIf="campoEsValido('titulo')">
                        Este campo es obligatorio
                    </span>
                </div>
            </div>

            <div class="mb-3 ms-3 mt-2 row">
                <label class="col-sm-3 col-form-label">Descripción</label>
                <div class="col-sm-9">
                    <textarea class="form-control" formControlName="descripcion" placeholder="Descripción de la actividad"cols="150" rows="5"></textarea>
                    <span class="form-text text-danger" *ngIf="campoEsValido('descripcion')">
                        Este campo es obligatorio
                    </span>
                </div>
            </div>

            <div class="mb-3 ms-3 mt-2 row">
                <label class="col-sm-3 col-form-label">Fecha de vencimiento</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" formControlName="fecha" placeholder="Fecha de vencimiento">
                    <span class="form-text text-danger" *ngIf="campoEsValido('fecha')">
                        Este campo es obligatorio
                    </span>
                </div>
            </div>

            <div class="mb-3 ms-3 mt-2 row">
                <label class="col-sm-3 col-form-label">Estado</label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="estado" class="form-select" aria-label="Default select example">
                        <option selected></option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Completada">Completada</option>
                      </select>
                    <span class="form-text text-danger" *ngIf="campoEsValido('estado')">
                        Este campo es obligatorio
                    </span>
                </div>
            </div>

            <div class="d-flex flex-row-reverse">
                <button type="submit" [disabled]="!Formulario.valid"class="btn btn-outline-success">
                    <i class="bi bi-floppy2-fill"></i>
                </button>

            </div>

        </form>

    </div>
</section>
